PPI.Core.Database/PPI.Core.Database.dbmdl
ppi.core.web/Uploadfiles/People20160718135339019.csv
ppi.core.web/Uploadfiles/People20160718134736247.csv
ppi.core.web/Uploadfiles/People20160718134257600.csv
ppi.core.web/Uploadfiles/People20160718134454298.csv
ppi.core.web/Uploadfiles/People20160718134937981.csv
ppi.core.web/ClassDiagram1.cd
ppi.core.web/obj/Release/PPI.Core.Web.csproj.FileListAbsolute.txt
PPI.Core.Database/obj/Release/Model.xml
ppi.core.web/obj/Release/PPI.Core.Web.csproj.FileListAbsolute.txt
*.dll