@model PPI.Core.Web.Models.AmsaReports.AMSAEventStatus

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div class="main-box clearfix">
    <div class="main-box-body">
        <div class="row">
            <div class="col-lg-12">
                <h2>AMSAEventStatus</h2>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-12">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                </dl>

                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
                    @Html.ActionLink("Back to List", "Index")
                </p>
            </div>
        </div>
    </div>
</div>
